<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="lessons.js"></script>
    <link rel="stylesheet" href="app.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="manifest" href="lessons.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Individual Demonstration Booking System</title>
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click="showCheckout" v-if="lessonPresentInCart">

                {{itemsInTheCart}}

                Cart
            </button>
            <select v-model="sortingLessons">
                <option value="location">Location</option>
                <option value="subject">Subject</option>
                <option value="price">Price</option>
            </select>
            <select v-model="sortingOrder">
                <option value="ascending">Ascending</option>
                <option value="descending">Descending</option>
            </select>


            <!-- <button @click="saveProductToDB">
                <span class="fas fa-save"></span>
                TestSave a product
            </button> -->

        </header>

        <div v-if="showProduct">
            <main>

                <input type="text" id="searchTerm" placeholder="Enter search term" v-model="searchQuery">


                <button @click="performSearch">Search</button>

                <h2>Search Results</h2>
                <ul id="searchResults"></ul>


                <!-- <div>
                    <input v-model="searchLesson" placeholder="search">
                    <button @click="searchLessons">Search</button>

                </div> -->
                <div v-for="lesson in lessonsDisplayed" :key="lesson.id" class="lesson">
                    <figure>
                        <img v-bind:src="lesson.image">
                    </figure>
                    <div>
                        <p>Subject: {{lesson.title}}</p>
                        <p>Location: {{lesson.location}}</p>
                        <p>Price: {{lesson.price}}</p>
                        <p>Spaces: {{itemsLeft(lesson)}}</p>

                        <button v-if="canAddToCart(lesson)" v-on:click="addItemToCart(lesson)">
                            <i class="fa fa-shopping-cart" style="color: #000000;"></i>
                            Add to cart</button>
                        <button v-else disabled>Add to cart</button>
                    </div>


                </div>



            </main>
        </div>

        <div v-else>
            <h2>Shopping Cart</h2>

            <p>Order Details:</p>
            <ul>
                <li v-for="lesson in cart" class="cart">
                    <figure>
                        <img v-bind:src="lesson.image">
                    </figure>
                    <div>
                        <p>Subject:{{lesson.title}}</p>
                        <p>Location: {{lesson.location}}</p>
                        <p>Price: {{lesson.price}}</p>
                        <p>Spaces: {{lesson.spaces}}</p>
                        <button v-on:click="removeLessons(lesson)">Remove</button>
                    </div>
                </li>
            </ul>

            <p>First name:
                <input v-model="order.firstname" />
            </p>
            <p>Phone:
                <input v-model="order.phone" />
            </p>

            <p>User information:</p>
            <p>First name: {{order.firstname}}</p>
            <p>Phone: {{order.phone}}</p>

            <button v-on:click="submitForm" :disabled="!isOrderValid">Place order</button>
        </div>

    </div>
    <script type="text/javascript">
        let webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Individual Demonstration Booking System',
                showProduct: true,
                lessons: [], // lessons,
                // serverURL: "http://localhost:5502/collections/products",
                sortingLessons: "location",
                sortingOrder: "ascending",
                cart: [],
                order: {
                    firstname: "",
                    phone: "",
                    lessonDetails: [],


                },
                searchLesson: "",
                searchQuery: "",
                lessonPresentInCart: false,



            },

            created: function () {
                if ("serviceWorker" in navigator) {
                    navigator.serviceWorker.register("service-worker.js");
                }
                // fetch("https://coursework2-env.eba-yvmeadmq.eu-west-2.elasticbeanstalk.com/collections/products")
                    fetch("http://localhost:5502/collections/products")
                        .then(response => response.json())
                        .then(json => {

                            webstore.lessons = json.map(lesson => ({
                                ...lesson,
                                lesson_id: lesson.id,
                                id: lesson._id,
                            }));
                        })
                        .catch(error => console.error("Error fetching lessons: ", error));
            },




            methods: {
                showCheckout: function () {
                    if (this.showProduct) {
                        this.showProduct = false
                    } else {
                        this.showProduct = true
                    }
                },
                addItemToCart: function (lesson) {
                    this.cart.push(lesson);
                    this.order.lessonDetails.push({
                        lesson_id: lesson.lesson_id,
                        id: lesson._id,
                        spaces: lesson.spaces,

                    });
                    this.lessonPresentInCart = true;

                    console.log("Lesson Details:", this.order.lessonDetails);


                },

                performSearch: function () {
                    // Get the search query from the data property
                    const searchQueryValue = this.searchQuery;

                    // Check if the search query is not empty
                    if (searchQueryValue.trim() !== '') {
                        // fetch(`https://coursework2-env.eba-yvmeadmq.eu-west-2.elasticbeanstalk.com/search?term=${searchQueryValue}`)
                        fetch(`http://localhost:5502/search?term=${searchQueryValue}`)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error(`Response status: ${response.status}`);
                                }
                                return response.json();
                            })
                            .then(json => {
                                // Update the lessons data property with the search results
                                this.lessons = json.map(lesson => ({
                                    ...lesson,
                                    lesson_id: lesson.id,
                                    id: lesson._id,
                                }));
                            })
                            .catch(error => {
                                // Handle errors here
                                console.error("Error fetching lessons: ", error);
                                if (error.response) {
                                    console.error("Response status:", error.response.status);
                                    console.error("Response status text:", error.response.statusText);
                                }
                            });
                    } else {
                        // Handle the case when the search query is empty
                        console.log("Search query is empty. Please enter a search term.");
                        // Optionally, you can clear the search results (this.lessons) or display a message to the user.
                    }
                },


                submitForm: function () {
                    const nameRegex = /^[A-Za-z]+$/;
                    const phoneRegex = /^\d+$/;

                    if (nameRegex.test(this.order.firstname) && phoneRegex.test(this.order.phone)) {


                        fetch('http://localhost:5502/collections/orders', {
                            // fetch('https://coursework2-env.eba-yvmeadmq.eu-west-2.elasticbeanstalk.com/collections/orders', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },

                            body: JSON.stringify({
                                ...this.order,
                                lessonDetails: this.order.lessonDetails.map(detail => ({
                                    ...detail,

                                    spaces: detail.spaces,
                                })),
                            }),
                        })
                            .then(response => response.json())
                            .then(json => {
                                console.log("Order submitted: ", json);
                            })
                            .catch(error => console.error("Error submitting order: ", error));

                    }

                    this.order.lessonDetails.forEach(detail => {
                        const lessonId = detail.id;
                        const newSpaces = detail.spaces;

                        fetch(`https://coursework2-env.eba-yvmeadmq.eu-west-2.elasticbeanstalk.com/collections/products/${lessonId}`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ spaces: newSpaces }),
                        })
                            .then(response => response.json())
                            .then(json => {
                                console.log(`Spaces updated for lesson with id ${lessonId}: `, json);
                            })
                            .catch(error => console.error(`Error updating spaces for lesson with id ${lessonId}: `, error));
                    });

                },



                canAddToCart: function (lesson) {
                    return lesson.spaces > this.cartCount(lesson.id);

                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }

                    }
                    return count;
                },
                itemsLeft(lesson) {
                    return lesson.spaces - this.cartCount(lesson.id);
                },
                removeLessons: function (lesson) {
                    const index = this.cart.indexOf(lesson);
                    if (index !== -1) {

                        lesson.spaces++;
                        this.cart.splice(index, 1);
                    }

                },
                saveProductToDB() {
                    const newProduct = {
                        "id": 14,
                        "image": "images/maths.png",
                        "title": "Engineering",
                        "location": "Scotland",
                        "price": 36,
                        "spaces": 5


                    }

                    fetch("https://coursework2-env.eba-yvmeadmq.eu-west-2.elasticbeanstalk.com/collections/products", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",

                        },
                        body: JSON.stringify(newProduct)
                    }).then(
                        function (response) {
                            response.json().then(
                                function (json) {
                                    alert("Success: " + json.acknowledged);
                                    console.log("Success: " + json.acknowledged);

                                    webstore.lessons.push(newProduct);
                                }
                            )
                        }
                    )
                }

            },
            computed: {
                itemsInTheCart: function () {
                    return this.cart.length || "";
                },
                sortedLessons() {
                    function sortByLocation(a, b) {
                        if (a.location > b.location) return 1;
                        if (a.location < b.location) return -1;
                        return 0;
                    }

                    function sortBySubject(a, b) {
                        if (a.title > b.title) return 1;
                        if (a.title < b.title) return -1;
                        return 0;
                    }

                    function sortByPrice(a, b) {
                        if (a.price > b.price) return 1;
                        if (a.price < b.price) return -1;
                        return 0;
                    }

                    if (this.sortingLessons === 'location') {
                        sortedLessons = this.lessons.sort(sortByLocation);
                    } else if (this.sortingLessons === "subject") {
                        sortedLessons = this.lessons.sort(sortBySubject);
                    } else if (this.sortingLessons === "price") {
                        sortedLessons = this.lessons.sort(sortByPrice);
                    }

                    if (this.sortingOrder === "descending") {
                        sortedLessons.reverse();
                    }


                    return sortedLessons;
                },
                isOrderValid: function () {
                    const nameRegex = /^[A-Za-z]+$/;
                    const phoneRegex = /^\d+$/;

                    return nameRegex.test(this.order.firstname) && phoneRegex.test(this.order.phone);
                },
                // lessonsDisplayed: function () {
                //     if (this.searchLesson) {
                //         const query = this.searchLesson.toLowerCase();
                //         return this.lessons.filter(lesson => {
                //             const title = lesson.title.toLowerCase();
                //             const location = lesson.location.toLowerCase();
                //             return title.includes(query) || location.includes(query);
                //         });
                //     } else {
                //         return this.sortedLessons;
                //     }
                // },


                lessonsDisplayed: function () {
                    if (this.searchQuery) {
                        const query = this.searchQuery.toLowerCase();
                        return this.lessons.filter(lesson => {
                            const title = lesson.title.toLowerCase();
                            const location = lesson.location.toLowerCase();
                            return title.includes(query) || location.includes(query);
                        });
                    } else {
                        return this.sortedLessons;
                    }
                },


            }
        });
    </script>
</body>

</html>